body {
  background: url('../../img/bg.gif');
  background-size: cover;
  background-position: center;
  
  min-height: 100vh;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
}

#root {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}