//*~ L a n g u a g e ~*//

.form_language {
  max-width: 23rem;
  width: 90%;
  height: 13rem;

  border-radius: 0.5rem;
  padding: 1rem 2rem;

  background: white;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.28);
  background-size: 400% 400%;

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    height: 65%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &.-column {
    flex-direction: column;
    p {
      color: #ed2553;
      height: 2rem;
    }
  }
}


//*~ C h a m p i o n s  - C A R D S ~*//

.wrapper_cards {
  background-color: white;
  border-radius: .5rem;

  overflow: auto;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.28);
  
  padding: 1rem;
  width: 95%;
  height: 95vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  &.-noScroll {
    overflow: hidden;
  }
  
  .wrapper_select_back {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e4e4e4;
    select {
      color: #ed2553;
      width: 15rem;
      height: 2rem;
      padding: .1rem .5rem;
      border: none;
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .wrapper_cards_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .cards {
      padding: 1rem 1rem;
      transition: .5s ease;
      cursor: pointer;
      opacity: .9;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        opacity: 0.8;
        background-color: #ed2553;
      }
      
      &:before {
        background-color: #ed2553;
        content: '';
        position: absolute;
        height: 95%;
        width: 91%;
      }
      

      &:hover {
        filter: drop-shadow(15px 12px 0px #ed2553);
        transform: translateY(-10px);
        opacity: 1;
        transition: .5s ease;

        h1 {
          transform: translateY(10px);
          opacity: 1;
        }

        img {
          opacity: 1;
        }

        &:before {
          opacity: 0;
        }
      }

      h1 {
        position: absolute;
        color: white;
        background-color: #ed2553;
        padding: 0 1rem;
        border-radius: 0.5rem;
        opacity: 0;
        transform: translateY(85px);
        transition: .2s ease;
      }
    }
  }
}

// C h a m p i o n s 

.wrapper_informations {
  display: flex;

  .image {
    width: 60%;
    img {
      width: 100%;
    }
  }

  .informations {
    padding: 0 1rem;
  }

  .information_skins {
    .skins {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0rem;

      img {
        width: 4.8rem;
        margin: 0.1rem;
      }
    }
  }
}