.select_default {
  background: #6758a0;
  border: none;
  height: 2rem;
  border-radius: 0.5rem;
  color: white;

  padding: .1rem .5rem;
}

.button_default {
  background: white;
  color: #6758a0;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}